@import "./cover.scss";
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  border-radius: 0;
}
input {
  border: 0;
}
img {
  transform: translate3d(0, 0, 0);
}

.title-em {
  padding-left: get-vw(23px);
  margin-left: get-vw(35px);
  position: relative;
}
.title-em::before {
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: get-vw(8px);
  height: 80%;
  background-color: $green;
}
.cell-wrapper {
  margin-top: get-vw(34px);
}
.nested-view {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

button.btn {
  border-radius: 3px;
  text-align: center;
  padding: get-vw(20px) get-vw(50px);
  font-size: 16px;
}
button.btn-reverse {
  border: 1px solid $green;
  background-color: white;
  color: $green;
}

button.btn-green {
  background-color: $green;
  color: white;
}

button.btn-other, button.btn-submit {
  width: 80%;
  display: block;
  margin: auto;
}
button.btn-other span {
  letter-spacing: 10px;
  margin-right: -10px;
}
button.btn-submit span {
  letter-spacing: 60px;
  margin-right: -60px;
}

