// 组件样式覆盖

.mint-cell:not(:nth-child(1))::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $borderGray;
  z-index: 10;
}
.mint-cell-wrapper,
.mint-cell:last-child {
  background-image: none;
}

button.mint-msgbox-confirm {
  color: $green;
}

input.mint-checkbox-input:checked+.mint-checkbox-core {
  background-color: $green;
  border-color: $green;
}
.mint-checklist {
  overflow: hidden;
}

.mint-indicator {
  z-index: 100;
  position: relative;
}

.flex-item-start .mint-cell-title {
  align-self: flex-start
}

a.mint-cell-swipe-button {
  display: flex;
  align-items: center;
}
button.mint-msgbox-btn {
  font-size: 16px;
}
